[flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 100000
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # C101 Coding magic comment not found
    C101,
    # Q000 Double quotes found but single quotes preferred
    Q000,
