*.bak
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
development.cfg
/bin/
/develop-eggs/
/dist/
/downloads/
/eggs/
/include/
/lib/
lib64
/local/
/packages/
/parts/
/src/
/var/
cioppino.twothumbs.egg-info
.idea/
