[buildout]
index = http://pypi.bluedynamics.eu
find-links +=
    http://effbot.org/downloads/
parts = instance
extends = http://dist.plone.org/release/4.2-latest/versions.cfg
unzip = true
develop = .

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Pillow
    Plone
    cioppino.twothumbs

zcml = 
    cioppino.twothumbs
