.thumb-rating{
    float: right;
	position: relative;
}

.total-thumbs-up .tally-total{
    color: green;
}


.total-thumbs-down .tally-total{
    color: red;
}


input.like-button, input.dislike-button{
    padding: 10px 5px;
    background-color:inherit;
	background-image: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png);
    background-repeat: no-repeat;
    border: 1px solid #eee;
    cursor: pointer;
}

form input.like-button{
    padding-left: 30px;
    background-position: -39px -27px;
}

form input.dislike-button{
    background-position: -13px -23px;
    text-indent: -3000px; 
    white-space: nowrap; 
    width: 35px;
}

form .selected input.like-button{
    background-position: -39px 5px;
}

form .selected input.dislike-button{
    background-position: -13px 10px;
}

.twothumbs-feedback{
    position: absolute;
	z-index: 1;
	width: 200%;
	margin-left: -52%;
	padding: 4%;
	font-size: 90%;
	border: 1px solid #555;
	background-color: #ddd;
	text-align: center;

}
.twothumbs-feedback a.close-link:link {
	border-bottom: 0;
	float: right;
	width: 13px;
	height: 13px;
	background: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png) no-repeat 0 0;
}

.twothumbs-feedback a.close-link:link:hover {
	background-position: 0 -13px;
}

.twothumbs-feedback a.close-link:link:active {
	background-position: 0 -26px;
}
