.thumb-rating{
    float: right;
	position: relative;
}

.thumb-rating form {
    text-align: right;
}

.total-thumbs-up .tally-total{
    color: green;
}

.total-thumbs-down .tally-total{
    color: red;
}

form input.like-button,
form input.dislike-button {
    padding: 10px 0 7px;
    background-color:transparent;
	background-image: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png);
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    width: 20px;
    text-indent: -3000px;
    white-space: nowrap;
}

/* Reset button styles of Plone 5  */
form input.like-button:hover,
form input.dislike-button:hover {
    box-shadow: none;
    background-color: transparent;
}

form input.like-button {
    background-position: -44px -27px;
    padding-left: 0;
}

form input.dislike-button {
    background-position: -18px -23px;
    margin-left: 5px;
}

form .selected input.like-button {
    background-position: -44px 5px;
}

form .selected input.dislike-button {
    background-position: -18px 10px;
}

.twothumbs-feedback {
    position: absolute;
	z-index: 1;
	width: 400%;
	margin-left: -52%;
	padding: 4%;
	font-size: 90%;
	border: 1px solid #555;
	background-color: #ddd;
	text-align: center;
    right: 0;
}

.twothumbs-feedback a.close-link:link {
	border-bottom: 0;
	float: right;
	width: 13px;
	height: 13px;
	background: url(++resource++cioppino.twothumbs.images/thumbs-sprite.png) no-repeat 0 0;
}

.twothumbs-feedback a.close-link:link:hover {
	background-position: 0 -13px;
}

.twothumbs-feedback a.close-link:link:active {
	background-position: 0 -26px;
}
